<div class="timeline-item">
    <h4 class="item-title">{{Model.ContentItem.Content.Education.Course.Text }}</h4>
    <span class="item-period">{{Model.ContentItem.Content.Education.Year.Text }}</span>
    <span class="item-small">{{Model.ContentItem.Content.Education.Authority.Text }}</span>
    <p class="item-description">{{Model.ContentItem.Content.Education.Description.Text }}</p>
</div>

