<div class="col-sm-6 col-md-3">
    <div class="service-block">
        <div class="service-info">
            <div class="service-image">
                <img asset-src="@Model.ContentItem.Content.Service.Image.Paths[0]" alt="@Model.ContentItem.Content.Service.Image.MediaTexts[0]" class="mCS_img_loaded" />
            </div>
            <h4>@Model.ContentItem.Content.Service.Name.Text.Value</h4>
            <p>@Model.ContentItem.Content.Service.Description.Text.Value</p>
        </div>
    </div>
</div>
