<div class="col-sm-4 col-md-2 subpage-block">
    <div class="client-block">
        <a href="@Model.ContentItem.Content.Client.Website.Text.Value" target="_blank"> <img asset-src="@Model.ContentItem.Content.Client.Logo.Paths[0]" alt="@Model.ContentItem.Content.Client.Logo.MediaTexts[0]" class="mCS_img_loaded"/> </a>
    </div>
</div>
