<zone name="Contact" position="Contact">
</zone>
<!-- Main Content -->

<div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper">

        <div class="subpages">

            @await DisplayAsync(Model.Content)
            <!-- Subpages -->
            @*@await DisplayAsync(Model.Content.PersonPart)*@
            @*@{ Model.Content.Remove("PersonPart"); }*@


            @*@await DisplayAsync(Model.Content.Resume)
                @{ Model.Content.Remove("Resumer"); }

                @await DisplayAsync(Model.Content.Services)
                @{ Model.Content.Remove("Services"); }

                @await DisplayAsync(Model.Content.Portfolio)
                @{ Model.Content.Remove("Portfolio"); }*@
            <!-- Blog Subpage -->
            <section class="pt-page" data-id="blog">
                <div class="section-inner custom-page-content">
                    <div class="page-header color-1">
                        <h2> Blog</h2>
                    </div>
                    <div class="page-content">
                        <!-- Blog Posts Grid -->
                        <div class="blog-masonry two-columns">
                            <!-- Blog Post 1 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_1.jpg" alt="blog-post-1" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 6</span> <span class="month"> Dec</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> Travel</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Bootstrap is the Most Popular Framework</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 1 -->
                            <!-- Blog Post 2 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_2.jpg" alt="blog-post-2" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 3</span> <span class="month"> Nov</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> jQuery</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> One Framework, Every Device</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 2 -->
                            <!-- Blog Post 3 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_3.jpg" alt="blog-post-3" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 12</span> <span class="month"> Oct</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> Sport</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Designed for Everyone, Everywhere</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 3 -->
                            <!-- Blog Post 4 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_4.jpg" alt="blog-post-4" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 18</span> <span class="month"> Aug</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> CSS</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> An Introduction To PostCSS</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 4 -->
                            <!-- Blog Post 5 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_5.jpg" alt="blog-post-5" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 2</span> <span class="month"> Jul</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> CSS3</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Original and Innovative Web Layouts</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 5 -->
                            <!-- Blog Post 6 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_6.jpg" alt="blog-post-6" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 8</span> <span class="month"> May</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> HTML5</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Creative and Innovative Navigation Designs</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 6 -->
                            <!-- Blog Post 7 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_7.jpg" alt="blog-post-7" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 7</span> <span class="month"> Apr</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> Design</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Navigation for Mega-Sites</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 7 -->
                            <!-- Blog Post 8 -->
                            <div class="item">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <a href="blog-post-1.html">
                                            <img class="post-image img-responsive" src="images/blog/blog_post_8.jpg" alt="blog-post-8" />
                                            <div class="mask"> </div>
                                            <div class="post-date"> <span class="day"> 21</span> <span class="month"> Mar</span><!-- <span class="year" > 2016</span >--> </div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <ul class="category">
                                            <li> <a href="#"> CSS3</a> </li>
                                        </ul>
                                        <a href="blog-post-1.html"> <h4 class="blog-item-title"> Front-End Challenge Accepted: CSS 3D Cube</h4> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Post 8 -->
                        </div>
                        <!-- Blog Posts Grid -->
                    </div>
                </div>
            </section>
            <!-- /Blog Subpage -->
            <!-- Contact Subpage -->
            <section class="pt-page" data-id="contact">
                <div class="section-inner custom-page-content">
                    <div class="page-header color-1">
                        <h2> Contact</h2>
                    </div>
                    <div class="page-content">
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="block-title">
                                    <h3> Get in <span> Touch</span> </h3>
                                </div>
                                <!-- Google Map -->
                                <div id="map" class="map"> </div>
                                <!-- End of Google Map -->
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-map-marker"> </i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>@Model.ContentItem.Content.PersonPart.Address.Text.Value</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-envelope"> </i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>@Model.ContentItem.Content.PersonPart.Email.Text.Value</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-phone"> </i>
                                    </div>
                                    <div class="ci-text">
                                        <h5>@Model.ContentItem.Content.PersonPart.Phone.Text.Value</h5>
                                    </div>
                                </div>
                                <div class="contact-info-block">
                                    <div class="ci-icon">
                                        <i class="fa fa-check"> </i>
                                    </div>
                                    <div class="ci-text">
                                        <h5> Freelance Available</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                @RenderSection("Contact", required: false)
                            </div>
                            @*
                                    <div class="block-title">
                                        <h3> Contact <span> Form</span> </h3>
                                    </div>
                                    <form id="contact-form" method="post" action="contact_form/contact_form.php">

                                        <div class="messages"> </div>

                                        <div class="controls">
                                            <div class="form-group form-group-with-icon">
                                                <i class="fa fa-user"> </i>
                                                <label> Full Name</label>
                                                <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                                                <div class="form-control-border"> </div>
                                                <div class="help-block with-errors"> </div>
                                            </div>

                                            <div class="form-group form-group-with-icon">
                                                <i class="fa fa-envelope"> </i>
                                                <label> Email Address</label>
                                                <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                                                <div class="form-control-border"> </div>
                                                <div class="help-block with-errors"> </div>
                                            </div>

                                            <div class="form-group form-group-with-icon">
                                                <i class="fa fa-comment"> </i>
                                                <label> Message for Me</label>
                                                <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="Please, leave me a message."> </textarea>
                                                <div class="form-control-border"> </div>
                                                <div class="help-block with-errors"> </div>
                                            </div>

                                            <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"> </div>

                                            <input type="submit" class="button btn-send" value="Send message">
                                        </div>
                                    </form>
                                </div>*@
                        </div>
                    </div>
                </div>
        </div>
        </section>
        <!-- End Contact Subpage -->
    </div>
</div>
<!-- /Page changer wrapper -->
</div>
<!-- /Main Content -->
