<!-- Blog Subpage -->
<section class="pt-page" data-id="blog">
    <div class="section-inner custom-page-content">
        <div class="page-header color-1">
            <h2> Blog</h2>
        </div>
        <div class="page-content">
            <!-- Blog Posts Grid -->
            <div class="blog-masonry two-columns">
                @await DisplayAsync(Model.Content);
            </div>
            <!-- Blog Posts Grid -->
        </div>
    </div>
</section>
<!-- /Blog Subpage -->
