
{% assign skillClass = "" %}
{% assign percentage = Model.ContentItem.Content.Skill.Percentage.Value %}
{% if percentage >=95 and percentage < 100 %}
{% assign skillClass = "skill-1" %}
{% elsif percentage>= 90 %}
{% assign skillClass = "skill-2" %}
{% elsif percentage>= 85 %}
{% assign skillClass = "skill-3" %}
{% elsif percentage>= 80 %}
{% assign skillClass = "skill-4" %}
{% elsif percentage>= 75 %}
{% assign skillClass = "skill-5" %}
{% elsif percentage>= 70 %}
{% assign skillClass = "skill-6" %}
{% elsif percentage>= 65 %}
{% assign skillClass = "skill-7" %}
{% elsif percentage>= 60 %}
{% assign skillClass = "skill-8" %}
{%endif %}
<h4>{{Model.ContentItem.Content.Skill.Name.Text }}</h4>
<div class="skill-container">
  <div class="skill-percentage {{skillClass}}"></div>
</div>
