<div class="timeline-item">
    <h4 class="item-title">{{Model.ContentItem.Content.Experience.Designation.Text }}</h4>
    <span class="item-period">{{Model.ContentItem.Content.Experience.StartDate.Value }}</span>
    <span class="item-small">{{Model.ContentItem.Content.Experience.Company.Text }}</span>
    <p class="item-description">{{Model.ContentItem.Content.Experience.Description.Text }}</p>
</div>

