<div class="form-group form-group-with-icon">
    <i class="fa fa-user"></i>
    <label>Full Name</label>
    @await DisplayAsync(Model.Content)
    <div class="form-control-border"></div>
    <div class="help-block with-errors"></div>
</div>
